// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import './scss/style.scss';
@import './font-awesome-4.7.0/css/font-awesome.min.css';
@import '/node_modules/vue-flash-message/dist/vue-flash-message.min.css';
.page-item
{
//   margin: auto !important;
}
.pagination
{

    li
    {
        a{
        border-radius: 30px !important;
         margin: 0 2px;
        }
    }

}
.overlay2{
        width: 100%;
        height: 110vh;
        background: rgba(0, 0, 0, 0.6);
        z-index: 3;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        position: fixed;
      }
::-webkit-scrollbar
{
    display: none !important;
}
@keyframes myanimation{

    0%{
        left: -200px;
     }
    100%{
        left: 0px;
        }

 }
.sidebar
{
    display: none;
    background-color: whitesmoke;
    position: fixed;
    z-index: 5;
    height: 110vh;
    width: 250px;
    margin-top: -67px;
    padding-top: 17px;
    border-right: 1px solid rgb(103, 117, 139);
    animation-name: myanimation;
    animation-duration: 0.6s !important;
    animation-fill-mode:backwards ;
    animation-timing-function: ease;
    animation-iteration-count: 1;

  ul
  {
            padding: 10px  0 10px 10px !important;

      li{
          list-style: none !important;
          border-radius: 30px;
          border-top-right-radius: 0;
          border-bottom-right-radius:0 ;
          padding:10px  40px !important;
          margin:10px 0px !important;
          background: whitesmoke;
          cursor: pointer !important;
          .link {
            color:royalblue;
            font-size: 17px;
        }

      }
  }

}
.site-blocks-cover
{
 background-image: url(../js/components/images/bg_2.jpg) !important;
 background-attachment: fixed;
}
.unit-5
{
 background-image: url(../js/components/images/hero_bg_2.jpg) !important;
 background-attachment: fixed;
//  margin-top: 0;
//  padding-top: 0;
}
.site
{
 background-image: url(../js/components/images/hero_bg_1.jpg) !important;
 background-attachment: fixed;
}

.brand
{
     background: -webkit-linear-gradient(#fce6e6,#e0fafa,rgb(250, 245, 229),rgb(238, 238, 252));
      -webkit-background-clip: text !important;
      -webkit-text-fill-color:transparent !important;
      background-size: cover;
      background-repeat: no-repeat;
}
.text-gray
{
    color: lightgray !important;
}

header
{

    background-color: transparent !important;


    nav
    {

        ul
        {

            li
            {

                a{
                    color: rgb(213, 235, 248) !important;
                    font-size: 16px !important;
                    border-radius: 30px;
                }
                a:hover,a:focus{
                    color: rgb(26, 179, 218) !important;
                    background-color: rgba(0,0,0,0.2);
                }
            }
        }
    }

}
